html, body {
    color: #fff;
    background-color: rgb(26, 30, 50);
}

.container {
    align-items: center;
    display: flex;
    height: 95vh;
    justify-content: center;
}

.center-text {
    text-align: center;
}

button {
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}